/* manu */
.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 5px 5px;
}

.descMenu {
    width: 10%;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.hamburgerMenu {
    padding-right: 5px;
}

.siteMenu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 24px;
    left: 0;
    height: 100%;
    width: 80%;
    background: #FF473A;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    transform: translateX(-100%);
    transition: 0.3s transform ease-in-out;
}

.siteMenu input {
    height: 42px;
    width: 70%;
    background: #FF473A;
    border: 2px solid #FCFCFC;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 10px;
}
.siteMenu ul {
    padding: 0;
    list-style-type: none;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.siteMenu li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #FFFFFF;
    flex-basis: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.siteMenu a {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.siteMenu a:hover {
    cursor: pointer;
}

.active ~ .siteMenu{
    transform: translateX(0);
}
