/* Status bar */
.status {
    position: relative;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #000000;
}
/* site title */
.siteTitle {
    position: absolute;
    color: red;
    font-size: 21px;
    text-align: center;
    top: 40px;
    width: 100%;
    text-align: center;
}
/* Information site Retrospective */
.futuredExhibition {
    padding-left: 13px;
}

.exhibition {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #979797;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    width: 120px;
    align-items: center;
    color: #000000;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FF473A;
}

.where {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #979797;
}

/* Carousele */
.carousele {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
/* picture description - should be in carusele */
.pictureDescription {
    position: absolute;
    bottom: 140px;
    left: 33%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    color: #979797;
}

.pictureDescription p{
    margin: 0;
}

/* Biography title */
.biography {
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #979797;
    margin-top: 4%;
}

/* article */
.history {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #979797;
    padding-left: 6%;
    text-align: left;
    margin-top: 4%;
}